.footer{
  @include flex--(flex-end, center);
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 5vh;
  width: 100vw;
  border-radius: $space--5 $space--5 0px 0px;

  @include mobile{
    height: fit-content;
    padding-top: 15vh;
    padding-bottom: 7.5vh;
  }

  &__container{
    @include flex--(center, center);
    flex-direction: column;
    width: 100%;
    gap: 5vh;

    &>p{
      @include font__chin--(var(--pk--black) , 0.5rem);
      font-weight: 300; 
    }
    
    .footer-navbar{
      @include flex--(space-between , center);
      align-self: stretch;

      @include mobile{
        flex-direction: column;
        align-items: flex-start;
        gap: 6vh;
      }

      &__logo{
        width: 35%;
        @include mobile{
          width: 100%;
        }
      }

      &__item{
        @include flex--(normal, flex-end);
        flex-direction: column;
        height: 100%;
        flex: 1 1 auto;
        gap: 4vh;

        @include mobile{
          align-items: flex-start;
          gap: 3vh;
        }

        .footer-social{
          button{
            &:hover{
              @include web-hover{
                img{
                  filter: invert(0.6) contrast(10);
                  outline: 3px;
                }
              }
            }

            img{
              width: 7vmin;
              transition: 0.3s ease-out;

              @include mobile{
                width: 15vmin;
              }
            }
          }
        }

        .footer-link {
          @include flex--(normal , center);
          flex: 1 1 auto;
          gap: 20px;

          @include mobile{
            gap: 15px;
          }

          button{
            @include flex--(normal, center);
            @include font__chin--(var(--home-sub), $chin--sub-title );
            letter-spacing: 0.3vmin;
            padding: 15px 25px;
            gap: 15px;
            transition: 0.15s ease-out;

            @include mobile{
              padding: 10px 15px;
              font-size: 4vmin;
              gap: 10px;
            }

            &:hover{
              @include web-hover{
                transform: translate(-3px, -5px);
                box-shadow: 3px 5px 0 var(--home-sub);

                svg{
                  @include equal-wh--(2.5vmin);
                  transform: translateX(3px) rotate(90deg);
                }
              }
            }

            svg{
              @include equal-wh--(2vmin);
              transition: 0.2s ease-in-out;

              path{
                fill: var(--home-sub);
              }
            }

          }
        }
      }
    }

    p{
      @include margin-y--(0);
    }
  }
}