//==================================================================================
// animation:css animation管理
//==================================================================================

// ----------------------
// header menu按鈕 hover
// ----------------------
@keyframes headerNavHover {
  0% {
    transform: translateY(0);
  }

  100% {
    /* transform: translateY(-20px); */
    transform: translateY(-2.8vmin);
  }
}

@keyframes headerNavHoverDown {
  0% {
    /* transform: translateY(-20px); */
    /* transform: translateY(-2.5vmin); */
    transform: translateY(-2.8vmin);
  }

  100% {
    /* transform: translateY(-17px); */
    transform: translateY(-2.5vmin);
  }
}

@keyframes headerNavHoverOff {
  0% {
    /* transform: translateY(-17px); */
    /* transform: translateY(-2vmin); */
    transform: translateY(-2.5vmin);
  }

  100% {
    /* transform: translateY(3px); */
    transform: translateY(0.3vmin);
  }
}

@keyframes headerNavHoverDownOff {
  0% {
    /* transform: translateY(3px); */
    transform: translateY(0.3vmin);
  }

  100% {
    transform: translateY(0);
  }
}


// ----------------------
// header 購物車 hover 搖晃
// ----------------------
@keyframes cartRotateRight {
  0% {
    transform: rotateX(0);
  }

  25% {
    transform: rotate(8deg) translateX(5px);

  }

  40% {
    transform: rotate(0deg) translateX(0px);
  }

  60% {
    transform: rotate(-5deg) translateX(-3px);
  }

  70% {
    transform: rotate(0deg) translateX(0px);
  }

  90% {
    transform: rotate(3deg) translateX(2px);
  }

  100% {
    transform: rotate(0deg) translateX(0px);
  }
}

// ----------------------
// section1 寶可夢影片提示晃動動畫
// ----------------------
@keyframes videoShakeHint {
  0% {
    transform: rotate(0deg) translateX(0px);
  }

  2% {
    transform: rotate(2deg) translateX(1px);
  }

  4% {
    transform: rotate(-1deg) translateX(0px);
  }

  8% {
    transform: rotate(0deg) translateX(0px);
  }

  100% {
    transform: rotate(0deg) translateX(0px);
  }
}

// ----------------------
// section1 顏色切換按鈕 hover換色
// ----------------------
@keyframes scrollIconBG {
  0% {
    outline: 0 solid rgba(255, 255, 255, 1);
  }

  100% {
    outline: 1vmin solid rgba(255, 255, 255, 0);
  }
}

// ----------------------
// section1 手機版Scroll 提示箭頭動畫
// ----------------------
@keyframes scrollHintLeft {
  0% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scrollHintRight {
  0% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}
// ----------------------
// section2 卡片向上移動動畫(用js加入animaiton)
// ----------------------
@keyframes infoCardMoveUp {
  0%{
    /* transform: translateY(-100px); */
    transform: translateY(8vh);
    opacity: 0.8;
  }
  100%{
    transform: translateY(0vh);
    opacity: 1;
    /* transform: translateY(0px); */
  }
}
// ----------------------
// section3 背景漫畫向下移動動畫
// ----------------------
@keyframes moveComicBG{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0vw 100vh;
  }
}
// ----------------------
// section3 商品卡片右下角旋轉提示動畫
// ----------------------
@keyframes rotateHint {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// ----------------------
// section5 環形文字旋轉動畫
// ----------------------
@keyframes rotateTextPath {
  0%{
    transform: rotate(0deg); 
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg); 
  }
}