//==================================================================================
//Base:全站預設樣式
//==================================================================================

// ----------------------
// 滾動行為
// ----------------------
:root {
  scroll-behavior: smooth;
}

// ----------------------
// 去除預設樣式
// ----------------------
button {
  border: 0;
  background-color: transparent;
}

a{
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none !important;
}
}


// ----------------------
// 電腦預設容器大小
// ----------------------
.section-container {
  max-width: 1200px;
}

// ----------------------
// 手機預設左右padding
// ----------------------
@media screen and (max-width:768px) {
  .mobile-container {
      padding-left: 15px;
      padding-right: 15px;
    
  }
}

// ----------------------
// 預設中英文class設置
// ----------------------
.font__eng {
  font-family: var(--pk--font-eng);
  font-weight: 700;
}

.font__chin {
  font-family: var(--pk--font-chin);
  font-weight: 700;
}

// ----------------------
// 文字顏色class
// ----------------------
.text--black {
  color: var(--pk--black);
}
.text--white {
  color: var(--pk--white);
}
.text--main-color {
  color: var(--home-main);
}
.text--sub-color {
  color: var(--home-sub);
}

// ----------------------
// 背景顏色class
// ----------------------
.bk--black{
  background-color: var(--pk--black);
}
.bk--white{
  background-color: var(--pk--white);
}
.bk--main-color{
  background-color: var(--home-main);
}
.bk--sub-color{
  background-color: var(--home-sub);
}

// ----------------------
// 藥丸型容器
// ----------------------
.round--pill{
  border-radius: 1000px;
}
// ----------------------
// 圓形容器
// ----------------------
.round--circle{
  border-radius: 50%;
}
// ----------------------
// flex方向
// ----------------------
.flex--col{
  flex-direction: column;
}
.flex--row{
  flex-direction: row;
}
@media screen and (max-width:768px) {
  .flex-mobile--col{
    flex-direction: column;
  }
  .flex-mobile--row{
    flex-direction: row;
  } 
}