.section5 {
  .game {
    @include flex--(center, center);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../images/sec5_game_bg.png') lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
    border-radius: 8000px 8000px 0 0;
    width: 100vw;
    height: 50vw;
    margin-bottom: -60px;

    @include mobile{
      width: 100vw;
      height: 100vh;
      margin-bottom: -30px;
    }

    &__btn {
      @include flex--(center, center);

      @include web-hover {
        &:hover {

          // 圓形背景hover動畫
          .game__btn__container {
            background-color: var(--home-sub);
            outline: 3vw solid var(--pk--white);

            // 圓形背景hover時 文字動畫
            h5 {
              color: var(--pk--white);
            }

            h6 {
              color: var(--pk--white);
            }

            // 環形文字hover變色
            textPath {
              fill: var(--pk--black);
            }
          }

          // START文字hover動畫
          h3 {
            color: var(--home-sub);
            box-shadow: 0px 5px var(--home-sub);
            transform: translate(0px, -5px);
          }
        }
      }

      &__container {
        @include flex--(center, center);
        @include equal-wh--(25vw);
        transition: 0.3s ease-in-out;

        @include mobile{
          @include equal-wh--(70vw);
        }

        .game-circle {
          @include equal-wh--(26vw);
          position: absolute;
          z-index: 0;
          animation: rotateTextPath 15s ease-in-out infinite;

          @include mobile{
            @include equal-wh--(72vw);
          }

          svg {
            display: block;
            overflow: visible;

            path {
              fill: none;
            }

            textPath {
              @include font__eng--(var(--pk--white), 8.9px);
              fill: var(--pk--white);
              font-weight: 900;
              letter-spacing: 0;
              transition: 0.1s ease-in-out;
            }
          }
        }

        h5 {
          @include font__chin--(var(--pk--black), $chin--heading-title);
          letter-spacing: 0.3vmin;
          transition: 0.1s ease-out;

          @include mobile{
            font-size: $chin-mobile--heading-title;
          }
        }

        h6 {
          @include font__chin--(var(--pk--black), $chin--button-lg);
          letter-spacing: 0.3vmin;
          font-weight: 400;
          transition: 0.1s ease-out;

          @include mobile{
            font-size: $chin-mobile--main-title;
          }
        }
      }

      h3 {
        @include font__eng--(var(--home-main), $eng--main-title-sm);
        @include padding-y--($space--2 * 2);
        letter-spacing: 0.5vmin;
        width: 100%;
        margin-top: -8vh;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 0px var(--home-sub);
        z-index: 1;

        @include mobile{
          @include padding-y--($space--2);
          margin-top: -7vh;
          font-size: $eng-mobile--main-title-sm;
        }
      }
    }
  }

  .footer-top-decoration {
    width: 100vw;
    height: 60px;
    border-radius: $space--5 * 2 $space--5 * 2 0px 0px;
    z-index: 1;
    position: relative;

    @include mobile{
      height: $space--5;
      border-radius: $space--5 $space--5 0 0;
    }
  }
}