//==================================================================================
//variale:全站變數設定
//==================================================================================

// ----------------------
// 全域配置設定字型與顏色
// ----------------------
:root {
  // 全站的顏色變數
  --pk--white: #fff;
  --pk--black: #3F3A3A;
  --pk-bg-beige: #FCF3E4;
  --pk-bg-ligthGray: #F0F0F1;

  // 首頁6種寶可夢顏色，每個主題個兩種顏色
  $pokemon-colors: (
    // 皮卡丘
    pika: (yellow: #FFE050, red: #FF6542),
    // 傑尼龜
    water: (blue: #92E2FB, brown: #CA8B7A),
    // 小火龍
    fire: (orange: #FFB700, green: #407B80),
    // 菊草葉
    grass: (lightGreen: #E4EFB7, darkGreen: #6C904D),
    // 小拳石
    stone: (gray: #CBCBBD, brown: #CC9E85),
    // 果然翁
    psychic: (pink: #FFC4FA, blue: #6CDBFC)
  );

  // 動態生成寶可夢顏色變數
  @each $pokemon, $colors in $pokemon-colors {
    @each $name, $color in $colors {
      --#{$pokemon}--#{$name}: #{$color};
    }
  }

  // 主色與輔色，初始使用皮卡丘色
  --home-main: var(--pika--yellow);
  --home-sub: var(--pika--red);

  // 字型
  --pk--font-chin: 'Noto Sans TC Local', 'Noto Sans TC', sans-serif;
  --pk--font-eng: 'Fredoka Local', 'Fredoka', sans-serif;

}

// ----------------------
// margin、padding 間距大小
// ----------------------
$space--0: 0;
$space--1: 5px;
$space--2: 10px;
$space--3: 15px;
$space--4: 25px;
$space--5: 30px;
$space--6: 45px;


// ----------------------
// 文字大小
// ----------------------

// -->英文字型大小
$eng--main-title: 11vmin;
$eng--main-title-sm: 8vmin;
$eng--sub-title: 2.4vmin;

$eng--button-md: 2vmin;


// 英文字型大小--手機版
$eng-mobile--main-title: 18vmin;
$eng-mobile--main-title-sm: 15vmin;
$eng-mobile--sub-title: 4.5vmin;


// -->中文字型大小--電腦版
$chin--main-title: 3.5vmin;
$chin--sub-title: 2.5vmin;
$chin--heading-title: 4.5vmin;

$chin--button-lg: 3vmin;
$chin--button: 2.5vmin;
$chin--card-title: 2.2vmin;
$chin--card-price: 1.9vmin;
$chin--text: 1.8vmin;
$chin--text-lg: 2vmin;

// 中文字型大小--手機版
$chin-mobile--main-title-lg: 7vmin;
$chin-mobile--main-title: 6.5vmin;
$chin-mobile--sub-title: 6vmin;
$chin-mobile--sub-title-sm: 5vmin;
$chin-mobile--heading-title: 9.5vmin;

$chin-mobile--card-title: 4.5vmin;
$chin-mobile--card-price: 4vmin;
$chin-mobile--button-lg: 5.5vmin;
$chin-mobile--button: 3vmin;













